/* =============================================================================
   Main Site Variables
   ========================================================================== */

/* Misc */
$primary: #cead78;
$em-base: 16px;
$transition: all .5s ease;
